// ヘッダーのscssです
.boss{
  padding: 0 60px;
  background-color: red;
  .header-inner{
    background-color: purple;
    max-width: 1040px;
    min-height: 82px;
    width: 100%;
    margin: 0 auto;
    padding: 15px 0 0;
    &__main{
      background-color: skyblue;
      position: relative;
      display: flex;
      align-items: center;
      &--icon{
        background-color: springgreen;
        padding-bottom: 10px;
        margin-right: 30px;
        border-radius: 4px;
      }
      &--search-box{
        background-color: violet;
        display: block;
        width: 100%;
        margin-left: auto;
        margin: 0;
        padding: 0;
      &__form{
        width: 100%;
        display: flex;
        margin-bottom: 5px;
        &--input{
          width: calc(100%-26px);
          height: 36px;
          padding: 0 0 0 5px;
        }
      }
      }
    }
  }
}
h1{
  font-size: 100%;
  font-weight: normal;
}
a {
  width: 140px;
  display: block;
}
        %input{
          width: calc(100%-26px);
          height: 36px;
          padding: 0 0 0 5px;
        }