// ヘッダーのscssです
.boss{
  padding: 0 60px;
  .header-inner{
    max-width: 1040px;
    min-height: 82px;
    width: 100%;
    margin: 0 auto;
    padding: 15px 0 0;
    &__main{
      position: relative;
      display: flex;
      align-items: center;
      &--icon{
        padding-bottom: 5px;
        margin-right: 30px;
        border-radius: 4px;
        cursor: pointer;
        
        &__img{
          display: block;
          width: 140px;
          &__tag{
            width: 100%;
            vertical-align: bottom;
          }
        }
      }
      &--search-box{
        height: 36px;
        display: block;
        width: 100%;
        margin-left: auto;
        margin: 0;
        padding: 0;
      &__form{
        width: 100%;                                                                          
        display: flex;
        margin-bottom: 5px;
        &__input{
          width: calc(100% - 40px);
          height: 36px;
          padding: 0 0 0 5px;
        }
        &__button{
          width: 40px;
          height: 100%;
          cursor: pointer;
          border: 0;
          padding: 6px;
          background-color: #3CCACE;
          display: block;
          &__icon{
            margin: 0;
            padding: 0 0 0 0;
            margin-bottom: -3.8px;
            &__img{
              width:  100%;
              vertical-align: bottom;
            }
          }
        }
      }
      }
    }

// ここからナビバー
&__nav{
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  &--lists-left{
    position: relative;
    display: flex;
    &__item{ 
      margin: 8px 0 5px 5px;
      color:black;
      cursor: pointer;
    }
  }
  &--lists-right{
    position: relative;
    display: flex;
    &__login{
      margin: 8px 0 5px 5px;
      color:black;
      cursor: pointer;
    }
    &__new{
      margin: 8px 0 5px 5px;
      color:black;
      cursor: pointer;
     }
    }
   }
  }
}
.purchaseBtn{
  width: 120px;
  background: #3CCACE;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
    &__text{
      color: #fff;
      display: block;
      font-size: 18px;
      text-decoration: none;
      margin-bottom: 5px;
    }
    &__img{
            width: 60%;
    }
    
}
