// 上から三つ目のセクションのscssです(_number3)
.pickupContainer{
  padding: 80px 0 0;
  background-color: #f8f8f8;
  height: 100%;
  &__head{
    font-size: 27px;
    text-align: center;
    margin: 0 0 40px;
    font-weight: bold;
    margin-bottom: 25px;
    padding-bottom: 15px;
    position: relative;
  }

  
  &__productBox{
  &__head{
    text-align: center;
    a{
      font-size: 24px;
    text-decoration: none;
    color: #3CCACE;
    }
  }
&__lists{
    width: 780px;
    margin: 26px auto;
    display: flex;
    justify-content: space-around;
  &__list{
    width: 220px;
    display: inline-block;
    float: left;
    &__a{
      background-color: #fff;
    display: inline-block;
    &--img{
      width: 220px;
    height: 150px;
    position: relative;
    overflow: hidden;
    margin: 0;
    z-index: auto;
    &__pice{
      position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: auto;
    height: 150px;
    object-fit: cover;  
    }
}
&__body{
  background-color: white;
    color: #333;
    padding: 16px;

    &__name{
      overflow: hidden;
    line-height: 1.5;
    font-size: 16px;
    text-align: left;
    padding-left: 5px;
    }
    &__datails{
      font-size: 16px;
    }
}
    }
    }
  }
}
  
  }