.mainVisual{
  width: 100%;
  height: 560px;
  background-image:image-url("material/pict/bg-mainVisual-pict_pc.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  padding: 0 60px;
  display: flex;
  align-items: center;

}
.content{
max-width: 1280px;
width: 100%;
margin: 0 auto;
padding:35px 0 0 0 ;

&__subtitle{
  text-shadow: 0 0 5px  rgba(0,0,0,0.4);
  font-size: 60px;
  line-height: 1.2;
  color:#fff;
  font-weight: normal;
}
&__text{
  text-shadow: 0 0 5px  rgba(0,0,0,0.4);
  font-size: 18px;
  color: #fff;
  line-height: 1.77778;
  margin: 16px 0 0 0;
}
&__btn{
  display: flex;
  margin: 24px 0 0 0;
  margin-right: 10px;
  width: 180px;
}
}





.topIntroduction{
padding: 60px 20px;
}
.subtitle{
text-align: center;
font-size: 26px;
line-height: 1.4;
font-weight: bold;
position: relative;
margin-bottom: 25px;
padding-bottom: 15px;
&__underLine{
  width: 70px;
  height:4px;
  background-color: #3CCACE;
  position:absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
}
.lists{
display: flex;
width: 100%;
&__list{
width: 30%;
margin: 16px 5% 0 0;
  &__pict{
    position: relative;
    margin-bottom: 20px;
    &__number1{
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 4%;
      font-size: 30px;
      text-align: center;
      margin: 0 5px 0 0;
      padding: 10px 20px;
      background-color: #3CCACE;
      color: #fff;
    } 
    &__image{
      .list__pict{
      width: 100px;
      vertical-align: bottom;
    }
    }
  &__text{
    font-weight: bold;
    font-size: 24px;
    line-height: 50px;
    margin: 0 0 0 2px;
  }
  &__description{
    font-size: 18px;
    line-height: 1.5;
    margin: 16px 0 0;
    }
  }
}

&__list{
  width: 30%;
  margin: 16px 5% 0 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__pict{
    position: relative;
    margin-bottom: 20px;
    &__number2{
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 4%;
      font-size: 30px;
      text-align: center;
      margin: 0 5px 0 0;
      padding: 10px 20px;
      background-color: #3CCACE;
      color: #fff;
    }
    &__image{
      .list__pict{
      width: 100%;
      vertical-align: bottom;
      }
    }
  }
  &__text{
    font-weight: bold;
    font-size: 24px;
    line-height: 50px;
    margin: 0 0 0 2px;
  }
  &__description{
    font-size: 18px;
    line-height: 1.5;
    margin: 16px 0 0;
  }
}


&__list{
  width: 30%;
  margin: 16px 5% 0 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__pict{
    position: relative;
    margin-bottom: 20px;
    &__number3{
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 4%;
      font-size: 4%;
      font-size: 30px;
      text-align: center;
      margin: 0 5px 0 0;
      padding: 10px 20px;
      background-color: #3CCACE;
      color: #fff;
    }
    &__image{
      .list__pict{
      width: 100%;
      vertical-align: bottom;
      }
    }
  }
  &__text{
    font-weight: bold;
    font-size: 24px;
    line-height: 50px;
    margin: 0 0 0 2px;
  }
  &__description{
    font-size: 18px;
    line-height: 1.5;
    margin: 16px 0 0;
  }
}
}
span{
  color: #3CCACE;
  }
  }
