=render "users/mypage_side"
.mypage
  %main.mypage-contents.clearfix
    .main-content
      .logout
        .logout-content
          =link_to destroy_user_session_path, method: :delete, class:"btn-default btn-red" do
            ログアウト