
.pickupContainer{
  padding: 80px 0 0;
  background-color: #f8f8f8;
  height: 100%;
  &__head{
    text-align: center;
    font-size: 28px;
    line-height: 1.4;
    font-weight: bold;
  }
  &__productBox{
  &__head{
    text-align: center;
    a{
      font-size: 24px;
    text-decoration: none;
    color: #3CCACE;
    }
  }
&__lists{
    width: 780px;
    margin: 26px auto;
    display: flex;
    justify-content: space-around;
  &__list{
    width: 220px;
    display: inline-block;
    float: left;
    &__a{
      background-color: #fff;
    display: inline-block;
    &--img{
      width: 220px;
    height: 150px;
    position: relative;
    overflow: hidden;
    margin: 0;
    z-index: auto;
    &__pice{
      position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: auto;
    height: 150px;
    object-fit: cover;  
    }
}
&__body{
  background-color: white;
    color: #333;
    padding: 16px;







