// 上から二つ目のセクションです
.topMiddleDl{
  background-image: url(/assets/material/pict/bg-topMiddleDl-pict.jpg);
  background-position: bottom right;
  height: 400px;
  background-size: cover;
  display: flex;
  align-items: center;
&__inner{
  color: #fff;
  text-shadow: 0 0 5px rgba(0,0,0,0.4);
  text-align: left;
  max-width: 1040px;
  width: 100%;
  margin: 0 auto;
  &--subtitle{
    font-size: 27px;
  font-weight: bold;
  line-height: 1.4;
  }
  &--text{
    font-size: 18px;
  margin: 20px 0 30px;
  line-height: 1.5;
  }
  &__btn{
    display: flex;
    &__link{
      margin-right: 10px;
      &--img{
        width: 180px;
      }
    }
  }
}
}
// ここからセクション2の2ブロック目
.topKeyFeatures{
               padding: 60px 100px;
               background-color: #fff;
}
.head{
font-size: 27px;
text-align: center;
margin: 0 0 40px;
font-weight: bold;
margin-bottom: 25px;
padding-bottom: 15px;
position: relative;

&__line{
width: 70px;
height: 4px;
background-color: #3CCACE;
position: absolute;
bottom: 0;
left: 50%;
transform: translateX(-50%);
}
}
.items{
max-width: calc(1040px + 20px);
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  &__item{
    display: flex;
  flex-direction: column;
  width: calc(1 / 3 * 100%);
  text-align: center;
  padding: 0 20px;
  
  &__img{
    width: 70%;
  margin: 0 auto;
  line-height: 120pxc
  &--tag{
    width: 100%;
  vertical-align: bottom;
  }

  }
  &__subtitle{
  margin: 38px 0 10px;
  font-size: 19px;
  font-weight: bold;
  }
  &__detail{
    margin: 0 0 40px;
  font-size: 17px;
  font-weight: 200;
  text-align: left;
  }
  }
}

// 上から三つ目のセクションのscssです(_number3)
.pickupContainer{
  padding: 80px 0 0;
  background-color: #f8f8f8;
  height: 100%;
  &__head{
    font-size: 27px;
    text-align: center;
    margin: 0 0 40px;
    font-weight: bold;
    margin-bottom: 25px;
    padding-bottom: 15px;
    position: relative;
  }

  
  &__productBox{
  &__head{
    text-align: center;
    a{
      font-size: 24px;
    text-decoration: none;
    color: #3CCACE;
    }
  }
&__lists{
    width: 780px;
    margin: 26px auto;
    display: flex;
    justify-content: space-around;
  &__list{
    width: 220px;
    display: inline-block;
    float: left;
    &__a{
      background-color: #fff;
    display: inline-block;
    &--img{
      width: 220px;
    height: 150px;
    position: relative;
    overflow: hidden;
    margin: 0;
    z-index: auto;
    &__pice{
      position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: auto;
    height: 150px;
    object-fit: cover;  
    }
}
&__body{
  background-color: white;
    color: #333;
    padding: 16px;

    &__name{
      overflow: hidden;
    line-height: 1.5;
    font-size: 16px;
    text-align: left;
    padding-left: 5px;
    }
    &__datails{
      font-size: 16px;
    }
}
    }
    }
  }
}
  
  }



