.mainVisual
  .content
    .content__subtitle
      人生を変えるフリマアプリ
    .content__text
      FURIMAはだれでもかんたんに出品・購入できる
      フリマアプリです
    .content__btn
  .picture

.topIntroduction
  .subtitle
    FURIMAが選ばれる3つの理由
  .lists
    .list
      .list__pict
      .list__text
      .list__description
        スマホで入力するだけで簡単に出品できる!
    .list
      .list__pict
      .list__text
      .list__description
        めんどくさい入力は必要なく,検索も購入もスムーズ!
    .list--last
      .list__pict
      .list__text
      .list__description
        最大3%お得に出品&購入!
      

    
