-# %section.mainVisual
-#   .content
-#     %h2.content__subtitle
-#       人生を変えるフリマアプリ
-#     .content__text
-#       %p
-#         FURIMAはだれでもかんたんに出品・購入できる
-#         %br
-#           フリマアプリです
-#     .content__btn
-#       = link_to "#" ,class: "content__btn" do
-#         = image_tag "app-store.svg"
-#       = link_to (image_tag "gougleplay.svg"),"#",class: "content__btn"
-#   .picture

-# %section.topIntroduction
-#   %h2.subtitle
-#     FURIMAが選ばれる3つの理由
-#     .subtitle__underLine
-#   .lists
-#     %li.lists__list
-#       .lists__list__pict
-#         %span.lists__list__pict__number1
-#           1
-#         .lists__list__pict__image
-#           .list__pict
-#             = image_tag "material/pict/pict-reason-01.jpg",class: "list__pict"
-#       %h3.lists__list__text
-#         %span 
-#           3分
-#         ですぐに出品
-#       %p.list__description
-#         スマホで入力するだけで簡単に出品できる!
-#     %li.lists__list
-#       .lists__list__pict
-#         %span.lists__list__pict__number2
-#           2
-#         .lists__list__pict__image
-#           .list__pict
-#             = image_tag "material/pict/pict-reason-02.jpg",class: "list__pict"
-#       %h3.lists__list__text
-#         %span
-#           シンプル
-#          で使いやすい
-#       %p.list__description
-#         めんどくさい入力は必要なく,検索も購入もスムーズ!
-#     %li.lists__list
-#       .lists__list__pict
-#         %span.lists__list__pict__number3
-#           3
-#         .lists__list__pict__image
-#           .list__pict
-#             = image_tag "material/pict/pict-reason-03.jpg",class: "list__pict"
-#       %h3.lists__list__text
-#         手数料
-#         %span 
-#           業界最安
-#       .list__description
-#         最大3%お得に出品&購入!

