.mypage 
  %main.mypage-contents.clearfix
    .main-content
      .payment
        .payment-content
          .payment-content__title
            %h1.payment-header 購入が完了しました
          .logout-content
          =link_to root_path, class:"btn-default btn-red" do
            トップページへ戻る